  
  .left{

    height: 93vh;
    width: 50vw;
    /* border: red solid 1px; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .left div frame{
  
    height: 200px;
  }
  .left .logo_int .mid1block{
    position: relative;
    height: 61.5px;
    width: 257px;
    left:28.5px;
    top:-120px
    
  }
  .left .logo_int .mid2block{
    position: relative;
    height: 62px;
    width: 270px;
    left:22px;
    top:-221px
    
  }

  .left .logo_int .ext1block{
    position: relative;
    height: 75px;
    width: 230px;
    left:42px;
    top:-225px
    
  }
  .left .logo_int .ext2block{
    position: relative;
    height: 88px;
    width: 229px;
    left:43px;
    top:-415px
    
  }
  .logo_int{
      display:block;
      width: 315px;
      height:210px;
      /* border: solid red 1px; */
  }
  
  .paroles img{
    height:100px;
    width:200px;
    
  }
